* {
    box-sizing: border-box;
}
body{
    min-height: 100%;
    font-family: 'Open Sans';
    background: #6587c2;
}
h1{
    text-transform: uppercase;
    background: #86a8e8;
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 12px 24px;
    font-weight: normal;
}
input{
    background: white;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    height: 52px;
    padding-left: 24px;
    border: solid rgb(255, 255, 255);
}
input:focus{
    background: #fff;
    border: 3px solid #86a8e7;
    outline: 2px;
    color: #2b2b2b;
}
span{
    text-align: center;
    height: 20px;
    width: 0;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s linear;
}
i{
    cursor: pointer;
}
button{
    text-transform: uppercase;
    background-color: #86a8e7; 
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 13px;
    font-family:'Open Sans';
    transition-duration: 0.4s;
    cursor: pointer;
    border: 3px solid transparent;
}
button:last-child{
    margin-bottom: 0;
}
button:hover{
    background-color: #fff;
    color: #2b2b2b;
    border: 3px solid #86a8e7;
}
#buttons{
    display: block;
    text-align: center;
    width: 100%;
    padding: 24px 24px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
}
#todo{
    margin: 0 auto ;
    max-width: 380px;
    height: 100%;
    background: white;
    position: relative;
    
}
.todos{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.todos li{
    padding-left: 24px;
    background: #f7f7f7;
    height: 52px;
    line-height: 52px;
    cursor: pointer;
    font-size: 18px;
}
.todos li:nth-child(2n){
    background: #edf1f5;
}
.todos li:hover span{
    width: 52px;
    opacity: 1.0;
    margin-left: 5px;
}
.display{
    display: none;
    transition: 0.3s linear;
}
.checked{
    color: rgb(155, 155, 155);
    text-decoration: line-through;
}
.fa-pencil-alt{
    float: right;
    padding-top: 2px;
    size: 18px 18px;
    color: #ffffff;
}
.fa-trash-alt{
    float: right;
    padding-top: 16px;
    padding-right: 26px;
    color: #d8c5c5;    
}